.toolbar-btn {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: .35rem .65rem;
    border-radius: .25rem;
}

.toolbar-btn:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.toolbar-btn:active {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
}

.min-profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 10%;
}

.postedBySection {
    background-color: #d9eaf7;
}

.qn-content {
    height: 12vh;
}

.user-info {
    min-width: 218px
}