.toolbar-btn {
	color: #39739d;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: .35rem .65rem;
    border-radius: .25rem;
}

.toolbar-btn:hover {
    color: #fff !important;
    background-color: #0b5ed7 !important;
    border-color: #0a58ca;
}

.toolbar-btn:active {
    color: #fff !important;
    background-color: #0a58ca !important;
    border-color: #0a53be !important;
}

.min-profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.postedBySection {
    background-color: #d9eaf7;
}

.qn-content {
    min-height: 12vh;
}

img {
	max-width: 100%;
	height: auto;
}

.user-info {
    min-width: 218px
}

button>span{
	vertical-align: middle;
}



.hr-color {
	color: #a8abad
}

.hue-light-blue {
	color: #39739d
}