#HeaderText {
    justify-content: center;
    font-size: 25px;
    padding-bottom: 5px;
    color: #6e6e6e;
    text-decoration: none;
}

#header {
    background-color: #ccdbf0;
	align-self: flex-end;
}

#headerSearchBtn {
    background-color: #6997d6 !important;
	font-family: 'Lato' sans-serif !important;
	color: white !important;
}

#AddQuestion {
    background-color: #6997d6
}

