#login_button {
    background-color: #57749E;
    color: #FFFFFF;
}

#SignIn_Text {
    color: #57749E;
}

#Qlassroom_Logo {
    width: 50%;
    height: relative;
}

#Qlassroom_Image {
    width: 90%;
    height: relative;
}

.links {
    color: #1E70BF;
}


#firebaseui-auth-container:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,.1) !important;
	background-color: #f8f9fa !important;
	border: 1px solid #dadce0;
	color: #202124;
} 

#google_icon {
	width: 24px;
}

