body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f8fa !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wip {
  background-color: chocolate;
  color: white;
}

#content{
	margin: 0 10% 0 10%;
	transition: margin-left 0.5s ease-in-out, margin-right 0.5s ease-in-out 0s;
}

#header{
	width: auto;
	transition: all 5s ease-in-out;
}

#layer1:focus-within~div #content {
	margin-left: 15%;
	margin-right: 5%;
}

#layer1:focus-within~div #header{
	width: 1300px;
	align-self: flex-end;
}